type project
authors Johan Classon
description
    Automatic trace logging through Serilog that is instrumented by Unity.Interception.
projectUrl
    https://github.com/johanclasson/Unity.Interception.Serilog
licenseUrl
    https://github.com/johanclasson/Unity.Interception.Serilog/blob/master/LICENSE
tags
    serilog,logging,unity,interception,tracing